<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstoneproject.fidel_peter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_fidel_peter"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_fidel_peter"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneProject.NoActionBar">
        <activity android:name="com.capstoneproject.fidel_peter.fidel_peter_CuisineActivity" />
        <activity android:name="com.capstoneproject.fidel_peter.fidel_peter_DishActivity" />
        <activity android:name="com.capstoneproject.fidel_peter.fidel_peter_OrderDetail" />
        <activity android:name="com.capstoneproject.fidel_peter.fidel_peter_OrderActivity" />
        <activity android:name="com.capstoneproject.fidel_peter.fidel_peter_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>